body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
div{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: flex;
    width: 800px;
    flex-direction: column;
}

#header{
    align-items: center;
}

#buttonContainer{
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

#applicationWindow{
    aspect-ratio: 1;
    margin: 50px;
}

#row{
    flex-direction: row;
    flex-grow: 1;
    border-width: 0px;
}

.applicationWidth{
    width: 700px;

}