body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
div{
    display: flex;
    width: 1000px;
    flex-direction: column;
}

#header{
    align-items: center;
}

#buttonContainer{
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
#sliderContainer{
    width: auto;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    gap: 10px;
    flex-shrink: 1;
}
#sizeContainer{
    width: 100px;
    flex-direction: row;
    flex-shrink: 1;
}
#applicationWindow{
    aspect-ratio: 1;
    margin: 10px;
}

#row{
    flex-direction: row;
    flex-grow: 1;
    border-width: 0px;
}

#pixel{
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    background-color: white;
}

.applicationWidth{
    width: 800px;

}
